.connect-block-wrapper {
    width: 100%;
    padding: var(--content-padding-y) var(--content-padding-x);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.connect-block-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;
    max-width: var(--content-max-width);
    margin: 0 auto;
    background-color: #8BD4D6;
    border-radius: 10px;
    padding: 40px;
    height: 200px;
}   
.connect-block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
.connect-block-title {
    font-size: 50px;
    color: #302E3F;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0;
}
.connect-block-description {
    font-size: 20px;
    color: #302E3F;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}
.connect-block-button {
    font-size: 16px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    background-color: #000;
    padding: 17px 30px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}